<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Digiwork Dynamic - Table
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>        
  <ion-card-content>

      <table class="table table-striped">
        <thead class="table mb-0"> 
          <tr>
              <th>No</th>
              <th>Npm</th>
              <th>Nama</th>
              <th>Jurusan</th>
              <th>Prodi</th>
              <th>Kelas</th>
              <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let siswa of GETSiswa; let i=index;">
              <td>{{i+1}}</td>
              <td>{{siswa.npm}}</td>
              <td>{{siswa.nama}}</td>
              <td>{{siswa.jurusan}}</td>
              <td>{{siswa.prodi}}</td>
              <td>{{siswa.kelas}}</td>
              <td>
                <ion-button type="submit" routerLink="../tab3/{{siswa.npm}}" expand="block" shape="round" color="primary">Edit</ion-button>
                <ion-button type="submit" shape="round" expand="block" color="danger" (click)="deleteData(siswa.npm)">Delete</ion-button>
              </td>
            </tr>
        </tbody>
      </table>

        </ion-card-content>
  </ion-card>

</ion-content>